---
import { BASE_URL } from "../js/constants";
---

<nav class="px-5 py-10 border-r-2 border-bg-200">
  <ul class="grid text-primary-200">
    <li>
      <a href=`${BASE_URL}`>Inicio</a>
    </li>
    <li>
      <a href=`${BASE_URL}/calc-iva`>Calculadora de IVA</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Calculadora de IMC</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a REM</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a EM</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a %</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a base unit</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Calculadora Bloc</a>
    </li>
  </ul>
</nav>

<style>

  a:hover {
    @apply text-text-100;
  }

  a {
    @apply py-[6px] block drop-shadow-xl;
  }

</style>