---
import { BASE_URL } from "../js/constants";
---

<nav class="px-5 py-10">
  <ul class="grid gap-2 text-primary-200">
    <li>
      <a href=`${BASE_URL}`>Inicio</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Calculadora de IVA</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Calculadora de IMC</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a REM</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a EM</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a %</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Conversor de PX a base unit</a>
    </li>
    <li>
      <a href=`${BASE_URL}`>Calculadora Bloc</a>
    </li>
  </ul>
</nav>

<style>

  a:hover {
    @apply text-text-100;
    
  }

</style>